/* Couleurs */
/* Breakpoint */
@font-face {
  font-family: "robotoregular";
  src: url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/font/Shrikhand/Shrikhand-Regular.ttf") format("ttf"), url("/font/Shrikhand/shrikhand-v11-latin-regular.woff") format("woff");
}
body {
  width: 100%;
  font-family: robotoregular, Arial, sans-serif;
  background-color: rgb(213, 213, 213);
}

#header {
  display: flex;
  width: 100%;
  margin: 10px 0 10px 0;
}
#header .header__content {
  display: flex;
  width: 100%;
}
#header .header__content .header__content--item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  margin-right: 10px;
  font-size: x-large;
}
#header .header__content .header__content--logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
#header .header__content .header__content--logo img {
  width: 40%;
}

.fa-arrow-left {
  color: black;
  font-size: x-large;
}

.content__card--media img {
  width: 100%;
  display: block;
  z-index: 1;
}

#content {
  background-color: rgb(213, 213, 213);
  border-radius: 50px;
  position: relative;
  margin-top: -4rem;
  width: 100%;
  z-index: 1;
}
#content .btn__command {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
#content .btn__command button {
  border-radius: 20px;
  border: none;
  background-color: blueviolet;
  height: 50px;
  width: 200px;
  color: aliceblue;
  font-size: inherit;
  font-weight: bold;
  box-shadow: 5px 5px 10px;
}
#content .content__menu {
  margin-right: 20px;
  margin-left: 20px;
}
#content .content__title {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 30px 30px;
}
#content .content__title--cta {
  display: flex;
  align-items: center;
  font-size: xx-large;
}
#content .content__title--cta .fa-heart {
  margin-right: 62px;
}
#content h2 {
  font-family: "Shrikhand", Arial, sans-serif;
}
#content h2 {
  font-weight: 100;
}

.content__menu--card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 90px;
}
.content__menu--card .text {
  padding: 10px;
}
.content__menu--card .text h3 {
  margin: 0;
  padding-bottom: 5px;
  padding-top: 10px;
}
.content__menu--card .text h4 {
  font-weight: 100;
  margin: 0;
}
.content__menu--card .price {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  padding-right: 50px;
}
.content__menu--card .price span {
  font-weight: bold;
}
.content__menu--card .fa-circle-check {
  display: none;
}

footer {
  background-color: #353535;
}
footer .footer__contain {
  padding: 1.7rem;
}
footer .footer__contain .footer__item {
  display: flex;
  align-items: center;
  color: #fff;
  padding-right: 10px;
}
footer .footer__contain .footer__item h3 {
  margin: 0;
  padding-bottom: 0.5rem;
}
footer .footer__contain .footer__item .fa-handshake-angle {
  padding-right: 10px;
}
footer .footer__contain .footer__item .fa-utensils {
  padding-right: 17px;
}
footer .footer__contain .footer__item p {
  display: flex;
  justify-content: flex-start;
  font-size: large;
  font-weight: bold;
  margin: 0;
}
footer .footer__contain .footer__item a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: large;
}

.footer__logo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 1.2rem;
  margin: 0 0 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: large;
}

/*# sourceMappingURL=style.css.map */
