/* Error: Undefined mixin.
 *     ,
 * 183 | /         @include tablette{
 * 184 | |         padding-right: 70px;
 * 185 | \         }
 *     '
 *   scss/main.scss 183:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 183 \2502  \250c          @include tablette{\a 184 \2502  \2502          padding-right: 70px;\a 185 \2502  \2514          }\a     \2575 \a   scss/main.scss 183:9  root stylesheet";
}
