@import "./utils/variables";
//@import "./Base/fonts";
@font-face {
    font-family: "robotoregular";
    src: url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
    src: url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}
@font-face {
    font-family: "Shrikhand";
    src: url("/font/Shrikhand/Shrikhand-Regular.ttf") format("ttf"), url("/font/Shrikhand/shrikhand-v11-latin-regular.woff") format("woff");
  };

body {
    width: 100%;
    font-family: robotoregular, Arial, sans-serif;
}
#header {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    .header__content {
        display: flex;
        width: 100%;
            .header__content--item { 
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 40px;
                margin-right: 10px;
                font-size: x-large;
            }    
            .header__content--logo {
                display: flex;
                justify-content: center;
                width: 100%;
                img {
                    width: 40%;
                }
            }
        }
}
.fa-arrow-left {
    color:black;
}
.content__card--media img{
    width: 100%;
    display: block;
    z-index: 1;
}
#content {
    background-color: rgb(245, 245, 245);
    border-radius: 50px;
    position: relative;
    margin-top: -4rem;
    width: 100%;
    z-index: 1;
    .content__menu {
        margin-right: 20px;
        margin-left: 20px;
    }
    .content__title {
        display: flex;
        justify-content: space-between;
        padding: 20px 50px 30px 30px;
        }
        .content__title--cta {
            display: flex;
            align-items: center;
            font-size: xx-large;
        }
    h1 {
        font-family: 'Shrikhand', Arial, sans-serif;
    }
    h2 {
        font-weight: 100;
    }
}
.content__menu--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 90px;
    
    .text {
        padding: 10px;
        h3 {
            margin: 0;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        h4 {
            font-weight: 100;
            margin: 0;
        }
    }
    .price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-right: 50px;
        span {
            font-weight: 300;
        }
    }
    .fa-circle-check {
        display: none;
    }
}
footer {
    background-color: #353535;
    .footer__contain {
        padding: 2rem;
        .footer__item {
            display: flex;
            align-items: center;
            color: #fff;
            padding-right: 10px;
            h3 {
                margin: 0;
                padding-bottom: 0.5rem;
            }
        }
    }    
}
.footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
}
