@import "./utils/variables";
//@import "./Base/fonts";
@font-face {
    font-family: "robotoregular";
    src: url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
    src: url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype"), url("/font/roboto/web fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular") format("svg");
}
@font-face {
    font-family: "Shrikhand";
    src: url("/font/Shrikhand/Shrikhand-Regular.ttf") format("ttf"), url("/font/Shrikhand/shrikhand-v11-latin-regular.woff") format("woff");
  };

body {
    width: 100%;
    font-family: robotoregular, Arial, sans-serif;
    margin: 0;
}


/*--MENU PAGE--*/
#header {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    .header__content {
        display: flex;
        width: 100%;
            .header__content--item { 
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 40px;
                margin-right: 10px;
                font-size: x-large;
            }    
            .header__content--logo {
                display: flex;
                justify-content: center;
                width: 100%;
                img {
                    width: 40%;
                }
            }
        }
}

.fa-arrow-left {
    color:black;
    font-size: x-large;
}

.content__card--media img{
    width: 100%;
    display: block;
    z-index: 1;
}


/*--CONTENT--*/
#content {
    background-color: rgb(213, 213, 213);
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -4rem;
    width: 100%;
    z-index: 1;
    height: 1400px;
    .btn__command {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        button {
            border-radius: 50px;
            border: none;
            background-color: blueviolet;
            height: 70px;
            width: 300px;
            color: aliceblue;
            font-size: inherit;
            font-weight: bold;
            box-shadow: 5px 5px 10px ;
        }
    }    
    .content__menu {
        margin-right: 20px;
        margin-left: 20px;
    }
    .content__title {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px 30px 30px;
        }
        .content__title--cta {
            display: flex;
            align-items: center;
            font-size: xx-large;
            .fa-heart {
                margin-right: 62px;
            }
        }
    h2 {
        font-family: 'Shrikhand', Arial, sans-serif;
    }
    h2 {
        font-weight: 100;
    }
}

.content__menu--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 90px;
    .text {
        padding: 10px;
        h3 {
            margin: 0;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        h4 {
            font-weight: 100;
            margin: 0;
        }
    }
    .price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-right: 50px;
        span {
            font-weight: bold;
        }
    }
    .fa-circle-check {
        display: none;
    }
}

/*--footer--*/
footer {
    background-color: #353535;
    .footer__contain {
        padding: 1.7rem;
        .footer__item {
            display: flex;
            align-items: center;
            color: #fff;
            padding-right: 10px;
            h3 {
                margin: 0;
                padding-bottom: 0.5rem;
            }
            .fa-handshake-angle {
                padding-right: 10px;
            }
            .fa-utensils {
                padding-right: 17px;
            }
            p {
                display: flex;
                justify-content: flex-start;
                font-size: large;
                font-weight: bold;
                margin: 0;
                padding-bottom: 5px;
            }
            a {
                text-decoration: none;
                color: white;
                font-weight: bolder;
                font-size: large;
            }
        }
    }    
}
.footer__logo {
    color: #fff;
    font-family: Shrikhand,"cursive";
    font-size: 1.2rem;
    margin: 0 0 1rem;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: large;
}

/*--home page--*/
#header__welcome {
    height: 250px;
    .header__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        img {
            box-sizing: border-box;
            width: 300px;
            height: 80px;
        }
    }
}



.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: #cbcbcb;
    box-shadow: -1px 2px 10px 3px rgb(0 0 0 / 30%) inset;
    form {
        display: flex;
        align-items: center;
        height: 70px;
        margin: 15px;
    }
    i {
        display: flex;
        align-items: center;
        font-size: x-large;
        padding-bottom: 10px;
    }
    input {
        border: none;
        background-color: #cbcbcb;
        font-size: x-large;
        text-align: center;
        width: 220px;
        outline:none;
    }
}
.reservation {
    background-color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
   

}
