@import "./utils/variables";
@import "./base/fonts";
@import "./utils/mixins.scss";
@import "./utils/keyframes";
@import "./utils/boucles";
body {
    width: 100%;
    font-family: robotoregular, Arial, sans-serif;
    margin: 0;
    cursor: default;
}

/*--MENU PAGE--*/
#header {
    display: flex;
    width: 100%;
    margin: 10px 0 10px 0;
    justify-content: center;
    position: relative;
    .header__content {
        display: flex;
        width: 100%;
            .header__content--item { 
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 40px;
                margin-right: 10px;
                font-size: x-large;
            }    
            .header__content--logo {
                display: flex;
                justify-content: center;
                width: 100%;
                img {
                    box-sizing: border-box;
                    width: 250px;
                    height: 80px;
                    object-fit: contain;
                }
            }
        }
}

.fa-arrow-left {
    color:black;
    font-size: x-large;
    position: absolute;
    top: 20px;
    left: 40px;
}

.content__card--media img{
    width: 100%;
    display: block;
    z-index: 1;
    height: 500px;
    object-fit: cover;
}

/*--CONTENT--*/
#content {
    background-color: rgb(246, 246, 246);
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: -4rem;
    width: 100%;
    z-index: 1;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @include tablets {
        display: flex;
        flex-direction: column;
    }
    .btn__command {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
        button {
            border-radius: 50px;
            border: none;
            background: linear-gradient($secondary, $primary);
            height: 70px;
            width: 300px;
            color: aliceblue;
            font-size: inherit;
            font-weight: bold;
            box-shadow: 5px 5px 10px;
            cursor: pointer;
        }
    }    
    .content__menu {
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-left: 30px;
    }
    .content__title {
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 30px 30px;
        position: relative;
        @include desktop {
           width: 100%;
           margin: auto;
        }
        }
        .content__title--cta {
            display: flex;
            align-items: center;
            font-size: xx-large;
            justify-content: flex-end;
            i:hover {
                color: transparent;
                background-image: linear-gradient($primary,$secondary);
                background-clip: text;
                opacity: 1;
                transition: all 0.8s;
                font-weight: 900;
            }
            .fa-heart {
                margin-right: 70px;
            }
        }
    h3 {
        text-transform: uppercase;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 40px;
            border-bottom: 2px solid $tertiary;
            
        }
    }
    
       
    h2 {
        font-family: 'Shrikhand', Arial, sans-serif;
        font-weight: 100;
    }
}

.content__menu--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px rgb(212, 212, 212);
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    animation-name: menuEffect;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(.5, 1.60, 0.40, 1);
    animation-fill-mode: both;
    &:hover .fa-circle-check {
        animation: turnCircle 0.5s both;
    }
    &:hover  .validate {
        animation: slide-left 0.5s ease both;
        
    }
    &:hover .price {
        animation: slide-leftPrice 0.5s ease both;
    }
    &:hover .text {
        animation: textEffect 0.5s ease both;
    }
    @include desktop {
        width: 350px;
        height: 90px;
    }
    .text {
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        h3 {
            margin: 0;
            padding-bottom: 5px;
            padding-top: 10px;
        }
        h4 {
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 100;
            margin: 0;
        }
        p {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-right: 50px;
        span {
            font-weight: bold;
        }
    }
    .validate {
        position: absolute;
        top: 0;
        right: -20px;
        background-color: #99E2D0;
        height: 100%;
        width: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 20px 20px 0px;
        visibility: hidden;
        .fa-circle-check {
            font-size: x-large;
            color: #fff;
        }
    }
}

/*--footer--*/
footer {
    background-color: #353535;
    .footer__contain {
        padding: 1.7rem;
        @include desktop {
            display: flex;
            justify-content: space-around;
        }
        .footer__item {
            display: flex;
            align-items: center;
            color: #fff;
            padding-right: 10px;
            h3 {
                margin: 0;
                padding-bottom: 0.5rem;
                cursor: pointer;
            }
            .fa-handshake-angle {
                padding-right: 10px;
            }
            .fa-utensils {
                padding-right: 17px;
            }
            p {
                display: flex;
                justify-content: flex-start;
                font-size: large;
                font-weight: bold;
                margin: 0;
                padding-bottom: 5px;
                cursor: pointer;
            }
            .email {
                text-decoration: none;
                color: white;
                font-weight: bolder;
                font-size: large;
                @include desktop {
                    padding-bottom: 10px;
                }
                
            }
        }
    }    
}

.footer__logo {
    color: #fff;
    font-family: Shrikhand, Arial, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    margin: 0 0 1rem;
}

/*--home page--*/

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #fff;
    position: fixed;
    animation: opacityPage 2s linear;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    .loading__circle {
        border: 10px solid transparent;
        border-top: 10px solid #9356DC;
        border-bottom: 10px solid #FF79DA;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        border-style: dashed;
        animation: loaderInfinite 2s linear;
    }    
    .loading__circle--text {
        display: inline-block;
        background: linear-gradient($primary,$secondary);
        background-clip: text;
        width: 178px;
        background-clip: text;
        font-weight: bold;
        font-size: x-large;
        letter-spacing: 2px;
        color: transparent;
    }
    .loading__circle--text::after {
        display: inline-block;
        animation: dotty steps(1,end) 1s infinite;
        content: " ";
    }
}

#header__welcome {
    height: 142px;
    .header__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        border-bottom: 2px solid rgb(213, 213, 213);
        img {
            box-sizing: border-box;
            width: 250px;
            height: 80px;
            object-fit: contain;
        }
    }
}

.search-form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
    background-color: rgb(234, 234, 234);
    box-shadow: inset 0 2px 2px 0 rgb(212, 212, 212);
    form {
        display: flex;
        align-items: center;
        height: 50px;
        margin: 10px;
    }
    i {
        display: flex;
        align-items: center;
        font-size: x-large;
        padding-bottom: 10px;
    }
    input {
        border: none;
        background-color: transparent;
        font-size: large;
        text-align: center;
        width: 220px;
        outline:none;
        &::placeholder {
            color: black;
            font-weight: bold;
        }
    }
}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: rgb(246, 246, 246);
    .reservation__explore {
        text-align: center;
        width: 90%;
        font-size: large;
        .reservation__explore--title {
            width: 70%;
            margin: auto;
        }
        .reservation__explore--content {
            width: 92%;
            margin: auto;
            font-size: large;
        }
    }
    .btn__cta {
        border-radius: 50px;
        border: none;
        background-image: linear-gradient($secondary, $primary);
        cursor: pointer;
        height: 60px;
        width: 220px;
        color: aliceblue;
        font-size: inherit;
        font-weight: bold;
        box-shadow: 5px 5px 10px;
        margin-top: 10px;
        transition: transform 300ms ease-in-out;
    }
    & button:hover {
        transform: scale(1.1);
        opacity: 0.8;
        opacity: #353535;
    }
    
}

#functioning {
    padding-top: 30px;
    padding-bottom: 50px;
    .functioning__title {
        font-size: x-large;
        margin-left: 20px;
        @include desktop {
            text-align: center;
            margin: 0;
            padding-bottom: 10px;
        }
    }
    .functioning__stages {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        div {
            display: flex;
            align-items: center;
            width: 280px;
            border-radius: 25px;
            padding: 30px 20px;
            background-color: rgb(246, 246, 246);
            box-shadow: 5px 5px 5px rgb(212, 212, 212);
            margin-bottom: 20px;
            &:hover {
                opacity: rgba(147,86,220,0.1);
                box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
                background-color: #ffd9ff;
                i {
                    color: $primary;
                }
            }
            p:first-child {
                margin: 0;
                margin-right: 15px;
                margin-left: -30px;
                padding: 2px 7px;
                color: #fff;
                background-color: $primary;
                border-radius: 20px;
            }
            i {
                color: rgb(126, 126, 126);
            font-size: 20px;
            margin-right: 20px;
            
            }
            p:last-child {
                font-weight: bold;
                margin: 0;
            }
        }
    }
}

#restaurants {
    background-color: rgb(246, 246, 246);
    padding-top: 40px;
    padding-bottom: 20px;
    h3 {
        margin-left: 20px;
        @include desktop {
            text-align: center;
            font-size: x-large;
            margin: 0;
        }
    }
    .restaurants__content {
        padding: 20px;
        @include desktop {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: auto;
            width: 80%;
            > div {
            width: 600px;
            }
        }
        .thumbnails {
            text-decoration: none;
            color: black;
            position: relative;
            .newLabel{
                position: absolute;
                right: 25px;
                top: 20px;
                background: #a1e1b4;
                width: 100px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #3e704bc2;
                font-weight: bolder;
                font-size: medium;
                border-radius: 5px;
            }
            .card__media {
                display: block;
                border-radius: 20px 20px 0 0;
                overflow: hidden;
                height: 200px;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
} 

.card__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 0px 0px 20px 20px;
    height: 70px;
    box-shadow: 5px 5px 5px rgb(212, 212, 212);
    .card__title {
        font-weight: bold;
    }
    .card__content--text {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        margin-top: 10px;
    }    
    .heart {
        width: 30px;
        font-size: x-large;
        margin: 10px 20px 0px 0px;
        position: relative;
        @include heartEffect;
    }    
} 


