@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

@mixin smartphone {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablets {
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin heartEffect {
    i:hover{
        color: transparent;
        background-image: linear-gradient($primary,$secondary);
        background-clip: text;
        position: absolute;
        top: 4px;
        right: 6px;
        opacity: 1;
        transition: all 0.8s;
        font-weight: 900;
        @content;
    }
}

@mixin cardMenu {
    div:hover{
    transform: translateY(10px,10px);
    @content
    }
}